.input-container {
    font-weight: 400;
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
}

.input {
    box-sizing: border-box;
    border:none;
    padding: 1.375rem 0.5rem 0.5rem;
    height: 4rem;
    width: 100%;    
}

.input::placeholder {
    visibility: hidden;
    color: #2A7AE4;
}

.input:focus {
    outline: none;
}

.input-label {
    color: #2A7AE4;
    position: absolute;
    top: 1.375rem;
    left: 0.5rem;
    font-size: 18px;
    transition: all 0.25s;
}

.input:not(:placeholder-shown)+.input-label,
.input:focus+.input-label {
    font-size: 0.875rem;
    top: 0.25rem;
    transition: all 0.25s;
}

/*?--------TextArea--------------  */
.textarea-container {
    font-weight: 400;
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;        
}

.textarea {
    box-sizing: border-box;
    border:none;
    padding: 1.375rem 0.5rem 0.5rem;
    width: 100%;
    resize: none;
}

.textarea::placeholder {
    visibility: hidden;
    color: #2A7AE4;
}

.textarea:focus {
    outline: none;
}

.textarea-label {
    color: #2A7AE4;
    position: absolute;
    top: 1.375rem;
    left: 0.5rem;
    font-size: 18px;
    transition: all 0.25s;
}

.textarea:not(:placeholder-shown)+.textarea-label,
.textarea:focus+.textarea-label {
    font-size: 0.875rem;
    top: 0.25rem;
    transition: all 0.25s;
}
/*?------Select-------------  */
.form__select-container {
    font-weight: 400;
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;    
}

.select {
    box-sizing: border-box;
    border:none;
    padding: 1.375rem 0.5rem 0.5rem;
    width: 100%;
    resize: none;
}

.select::placeholder {
    visibility: hidden;
    color: #2A7AE4;
}

.select:focus {
    outline: none;
}

.select-label {
    color: #2A7AE4;
    position: absolute;
    top: 1.375rem;
    left: 0.5rem;
    font-size: 18px;
    transition: all 0.25s;
}

.select:not(:placeholder-shown)+.select-label,
.select:focus+.select-label {
    font-size: 0.875rem;
    top: 0.25rem;
    transition: all 0.25s;
}

/*?---------Mensaje Error ------------------ */
.input-container--invalid {
    margin-bottom: 0.5rem;
  }
  
  .input-container--invalid .input,
  .input-container--invalid .textarea,
  .input-container--invalid .select{
    border: 1px solid red;
    border-radius: 7px;
  }
  
  .input-container--invalid .input-label,
  .input-container--invalid .textarea-label,
  .input-container--invalid .select-label {
    color: red;
  }
  
  .input-message-error {
    display: none;
  }
  
  .input-container--invalid .input-message-error {
    color: red;
    display: block;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
  }