.anuncios{
    display: none;
}
.barra__title,
.noticias-recientes__title{
    margin: 0;
    padding: 0;
    border-bottom: 1px dotted;
    padding-bottom: 8px;
    font-size: 3rem;
    font-weight: 600;
    color: var(--color-primario);
}
.anuncios__box{
    margin: 0.8rem 0;    
}
.anuncios__box img{
    width: 35rem;
    height: 60rem;
}

.container__noticias-recientes{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
}

.noticia__box{
    display: flex;
    width: 100%;
    border-bottom: 1px dotted;
    padding-bottom: 8px;
    margin: 0.5rem 0;
}
.noticia-texto__box{
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    font-family: 'Roboto Condensed';    
    align-content: stretch;
}
.noticia-texto__fecha-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.noticia-texto__title{
    color: var(--color-terciario);
    font-size: 1.4rem;
    margin: 0;
    height: 8.7rem;
    overflow: hidden;
}
.noticia-texto__fecha{
    color: var(--color-primario);
    font-size: 1rem;
    margin: 0;
    font-family: inherit;
}
.img-noticias {
    padding: 0.25rem;
    background-color: var(--blanco);
    border: 1px solid #dee2e6;
    width: 12rem;
    height: 12rem;
}
.noticia-boton{
    background: var(--color-terciario);
    color: var(--color-secundario);
    padding: 0.5rem;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 0.5rem;
}

/*?------------------------------- MediaQuery ------------------------ */

@media screen and (min-width:768px){   
    .anuncios{
        display: block;
    }
}

@media screen and (min-width:992px){

}