.organiza {
    padding: 2rem 0;
}

.organiza__box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.organiza__box-texto {
    width: 100%;
    text-align: justify;
}

.organiza__title {
    margin: 0;
    padding: 0;
    border-bottom: 1px dotted;
    padding-bottom: 8px;
    font-size: 3rem;
    font-weight: 600;
}

.organiza__box-card {
    background: url(../../img/card.webp) no-repeat -65px 0px / cover;
    height: 30rem;
    width: 100%;
    border-radius: 20px;
    box-shadow: -5px 5px 5px #7f7979;
    border-top: 1px solid #dfdfdf;
}

.organiza__card {
    position: relative;
}

.organiza__card-logo {
    position: absolute;
    top: -10px;
    height: 120px;
    width: 120px;
    left: 0px;
}

.organiza_card-name {
    position: absolute;
    right: 0.8rem;
    width: 13.5rem;
    top: -1rem;
    color: var(--blanco);
    font-size: 1.4rem;
    font-weight: 600;
}

.organiza__card-type {
    position: absolute;
    top: 11rem;
    right: 0.8rem;
    width: 13.5rem;
    color: var(--color-secundario);
    font-size: 1.3rem;
    font-family: cursive;
    font-weight: lighter;
}

.card-ico {
    width: 3rem;
    height: 3rem;
    filter: invert(31%) sepia(84%) saturate(5456%) hue-rotate(185deg) brightness(91%) contrast(101%);
}

.organiza__card-fone,
.organiza__card-home,
.organiza__card-url {
    display: flex;
    align-items: center;
    height: 3rem;
    color: var(--color-secundario);
    font-size: 1.1rem;
}

.organiza__card-fone p,
.organiza__card-home p,
.organiza__card-url a p{
    margin: 0;
    padding-left: 1rem;
    color: var(--color-secundario);
}

.organiza__card-url:hover p{
    background: rgba(240, 240, 240, 0.5);
    color: var(--negro);
    border-radius: 2rem;
}

.organiza__card-fone {
    position: absolute;
    bottom: -22rem;
    left: 1rem;
}

.organiza__card-url {
    position: absolute;
    bottom: -25.6rem;
    left: 1rem;
    width: 29rem;
}

.organiza__card-home {
    position: absolute;
    bottom: -29rem;
    left: 1rem;
    width: 29rem;
}

/*?------------------------------- MediaQuery ------------------------ */

@media screen and (min-width:768px) {
    .organiza__box-card {
        background-position: left;
        height: 29.9rem;
        width: 79%;
    }

    .organiza__card-logo {
        top: 10px;
        left: 60px;
    }

    .organiza_card-name {
        font-size: 1.6rem;
        right: 4rem;
        width: 26rem;
        top: 1rem;
    }

    .organiza__card-type {
        right: 8rem;
        width: 22rem;
    }

    .organiza__card-fone {
        bottom: -21rem;
        left: 2rem;
    }

    .organiza__card-url {
        bottom: -25rem;
        left: 2rem;
    }

    .organiza__card-home {
        bottom: -29rem;
        left: 2rem;
        width: 40rem;
    }

    .organiza__card-fone,
    .organiza__card-home,
    .organiza__card-url {
        font-size: 1.4rem;
    }

}

@media screen and (min-width:992px) {
    .organiza__box {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-items: flex-start;
    }

    .organiza__box-texto {
        padding-right: 2rem;
    }

    .organiza__box-card {
        height: 30rem;
        width: 100%;
        background-size: cover;
    }

    .organiza_card-name {
        right: 2rem;
    }

    .organiza__card-type {
        right: 6rem;
    }
}